---
import { EMAIL, SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title={SITE_TITLE}
  description={SITE_DESCRIPTION}
  className="flex min-h-screen max-w-xl flex-col justify-center"
>
  <main class="space-y-4">
    <p>Just a Software Developer and Robot Programmer based in Italy.</p>
    <p>
      I've been working in industrial automation for quite some time now. I got
      an offer while I was still in high school, and I decided to go for it. I'm
      always open to new opportunities and whatever life has to offer.
    </p>
    <p>
      I have a passion for cars and enjoy tinkering with them. I also love going
      to the gym, following my own diet, listening to music, reading, and
      running, maintaining, or occasionally breaking my homelab. I'm also into
      custom mechanical keyboards and designing/modeling custom parts.
    </p>
    <p>
      I enjoy collaborating with others, sharing knowledge, and learning from
      them as I have in the past - something I've been missing in my current
      field.
    </p>
    <p>
      <a
        href={`mailto:${EMAIL}`}
        target="_blank"
        class="text-white-500 underline"
        >If you find my work interesting or just want to say 'hi', feel free to
        drop me a message.</a
      >
    </p>
  </main>
</Layout>
