---
import { GITHUB } from "../consts";
import ThemeToggle from "./ThemeToggle.astro";
---

<header class="mb-6 flex items-center justify-between" transition:name="header">
  <nav class="flex items-center gap-4">
    <figure
      class="h-8 w-8 overflow-hidden rounded-full bg-current shadow-[0_0_0_1px]"
    >
      <img
        class="h-full w-full object-contain"
        src="/avatar.png"
        alt="profile picture"
      />
    </figure>
    <a href="/">Luca Polesel</a>
  </nav>
  <ThemeToggle />
</header>

<style>
  a {
    @apply font-medium;
  }
</style>
